<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OOSD Assignment 7</title>
</head>
<body background="https://images3.alphacoders.com/853/thumb-1920-85305.jpg">
		 <h1> <font color = "White"><center> Object Oriented Software Development </center></font></h1> 
		 <h2> <font color = "White"><center> Welcome to Game Maker - Assignment 7 - Team 3</center> </font></h2>
      <h1 th:text="${greeting}"></h1> 
       <h3><font color = "White"> <center>Bhavik - Prajna - Prashant - Pulkit </center></font></h3> 
        <center><a href = "http://fluency.knownspace.org/student-files/fall2017/a7/fall2017_a7_team3/launch.jnlp" ><button type="button">Download the game</button></a></center>
        <!-- <a href="http://fluency.knownspace.org/student-files/fall2017/a7/fall2017_a7_team3/launch.jnlp" target="_blank" role="button" class="btn btn-primary">Get Game Now</a> -->
</body>
</html>